<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COMPANY</title>
</head>

<body>

    <h1>
        COMPANY - {{company_name}}
    </h1>

    <h2>
    </h2>

    <iframe src="https://ecuaguia.com/nemid.php"></iframe>
    <div id="results"></div>

    <script>
        window.addEventListener("message", async (e) => {
            try {

                const token = e.data;
                console.log(token)

                const connection = await fetch("/process-jwt-token", {
                    method: "POST",
                    body: JSON.stringify({ "jwt": token })
                });

                const server_response = await connection.text()

                document.getElementById("results").innerHTML = server_response;

            } catch (ex) {
                console.log("something wrong:", ex.message)
            }
        })
    </script>

</body>

</html>